<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 "utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            PageCat
        </title>
        <script>
            var btn = document.getElementById('signin')
            btn.onclick = function () {
                location.href = '/signin';
            }
        </script>
        <link href="static/favicon.ico" rel="shortcut icon" type="image/ico">
        <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
        <link href="static/css/main.css-v52.css" 
        rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="../oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" >
            </script>
            <script src="../oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" >
            </script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="early">
                        
                            <a href="/signin">
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="home">
            <section class="main">
                <div class="container">
                    {% extends "flash.html" %}
                    {% block body %}
                    <div class="row">
                        <div class="col-sm-12 title">
                            Simple, beautiful, powerful monitor
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 form">
                            <form action="add" id="signupForm">
                                <input id="url" autofocus="true" name="url" placeholder="Enter an url">
                                <input id="mail" type="email"  autofocus="true" name="mail" placeholder="Enter your mail">
                                <span class="visible-xs">
                                    <br>
                                </span>
                                <button type="submit">
                                    Start
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 hidden-xs">
                            <img class="main-screenshot wow animated fadeInUp" src="static/img/home/main-screenshot@2x.png-v1.png"
                            >
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 visible-xs">
                            <img class="main-screenshot wow animated fadeInUp" src="static/img/home/main-screenshot-mobile@2x.png-v1.png"
                            >
                        </div>
                    </div>
                </div>
            </section>
            {% endblock %}
        </div>
    </body>
</html>